body {
    font-family: "Roboto", sans-serif;
}

:root {
    --theme-color: #e60d2e;
    --theme-accent-color: #ff5353;
    --dark-gray: #313445;
    --product-image-aspect-ratio: 4/4;
}

.text-theme-color {
    color: var(--theme-color);
}

.bg-theme-color {
    background-color: var(--theme-color);
}

.text-theme-accent-color {
    color: var(--theme-accent-color);
}

.bg-theme-accent-color {
    background-color: var(--theme-accent-color);
}

.text-dark-gray {
    color: var(--dark-gray);
}

.btn-theme {
    color: #fff;
    background-color: var(--theme-color);
    border-color: var(--theme-color);
}

.btn-theme:hover {
    color: #fff;
    background-color: var(--theme-accent-color);
    border-color: var(--theme-accent-color);
}

.btn-theme-accent {
    color: #fff;
    background-color: var(--theme-accent-color);
    border-color: var(--theme-accent-color);
}

.btn-theme-accent:hover {
    color: #fff;
    background-color: var(--theme-color);
    border-color: var(--theme-color);
}

@media screen AND (min-width: 1200px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1200px !important;
    }
}

/* Product Category filter */
.product__category__list {
}

.product__category__list {
    list-style-type: none;
    padding-left: 0;
}


.product__category__list li a {
    text-decoration: none;
    display: flex;
    padding: 0 5px 5px 0;
    color: var(--dark-gray);
}

.product__category__list li a::before {
    color: rgb(153, 153, 153);
    content: "â–";
    margin-right: 10px;
}

.product__category__list li a::after {
    content: "\203A";
    margin-left: auto;
    font-weight: 600;
    color: rgb(153, 153, 153);
}

.product__category__list li a:hover::before,
.product__category__list li a:hover::after {
    color: var(--theme-accent-color);
}

.product__category__list li a:hover {
    color: var(--theme-color);
}

/* Products */
/* Product Card */
.product__wrapper {
    padding: 5px;
    border: 1px solid #e5e5e5;
    padding: 5px 15px 25px;
    transition: box-shadow 0.2s linear;
}

.product__wrapper:hover {
    box-shadow: 1px 1px 10px #ccc;
}

.product__image__wrapper {
    text-align: center;
    position: relative;
    height: 0;
    padding-bottom: calc(100% / (var(--product-image-aspect-ratio)));
}

.product__image__wrapper img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product__badge {
    position: absolute;
    top: 10px;
    background-color: #000;
    padding: 2px 10px;
    border-radius: 5px;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.025em;
}

.product__badge.sale__badge {
    left: 0;
}

.product__badge.new__badge {
    background-color: var(--theme-accent-color);
    right: 0;
}

.product__info__wrapper {
    padding: 5px 10px;
}

.product__name {
    display: block;
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 1.3;
    min-height: 2.7rem;
}

.product__name:hover {
    text-decoration: none;
}

.product__subtitle {
    font-size: 0.9rem;
    font-weight: 400;
    color: #666;
}

.product__price {
    font-weight: 600;
    font-size: 1.2rem;
}

.product__old__price {
    font-weight: 600;
    font-size: 0.95rem;
    text-decoration: line-through;
    color: #837e7e;
}

.product__button {
    font-size: 0.9rem;
    letter-spacing: 1px;
}

.view__more__info__btn {
    background-color: var(--theme-color);
}

/*
* ===================
 * Single Product
 * ================== */

.product-main-image-wrapper {
    text-align: center;
    position: relative;
    height: 0;
    padding-bottom: calc(100% / (var(--product-image-aspect-ratio)));
}

.product-main-image-wrapper .main-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 1px solid #f0f0f0;
}

.image-thumbnail-gallery-wrapper {
    overflow-x: scroll;
    width: 100%;
    border: 1px solid #f0f0f0;
}

.image-thumbnail-gallery-wrapper::-webkit-scrollbar {
    height: 8px;
    border: 0px solid #ccc;
}

.image-thumbnail-gallery-wrapper::-webkit-scrollbar-thumb {
    background-color: #007bff;
    background-clip: padding-box;
    border: 0.05em solid #eeeeee;
    border-radius: 5px;
}

#product-wrapper .category-name {
    display: inline-block;
    padding: 8px 15px;
    background-color: #f8f9fa;
    color: #6e6e6e;
    font-size: 0.9rem;
    font-weight: normal;
    border-radius: 2.5rem;
}

#product-wrapper .product-name {
    font-size: 1.5rem;
}

#product-wrapper .old-price {
    text-decoration: line-through;
    color: #e60d2e;
}

.features-list {
    list-style-type: square;
    /* padding-left: 0; */
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    color: #2c2c39;
}
.features-list li {
    padding: 4px;
    margin: 5px 2px;
}
/* End of single Product */
@media(min-width: 767px){
    .popup-gallery.front-page{
        grid-template-rows: 0.5fr 0.5fr;
    }
    .popup-gallery.front-page > :nth-child(2){
      grid-column: span 2;
      grid-row: span 2;
    }
}
.popup-gallery.front-page > a{
    position: relative;
    overflow: hidden;
}
.popup-gallery.front-page > a img{
    width: 100%;
    height: auto;
    object-fit: cover;
}
.popup-gallery.front-page > :nth-child(2){
  transform: scale(1, 1.08);
  -webkit-transform: scale(1, 1.08);
  -moz-transform: scale(1, 1.08);
  -ms-transform: scale(1, 1.08);
  -o-transform: scale(1, 1.08);
}
.popup-gallery.front-page > a .img-shadow{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    top: 0;
    left: 0;
    transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -o-transition: 0.5s ease;
}
.popup-gallery.front-page > a:hover .img-shadow{
    transform: translateX(120%) rotate(60deg);
    -webkit-transform: translateX(120%) rotate(60deg);
    -moz-transform: translateX(120%) rotate(60deg);
    -ms-transform: translateX(120%) rotate(60deg);
    -o-transform: translateX(120%) rotate(60deg);
}